<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla principal</title>
    <link rel="stylesheet" href="../css/styles.css?t=1640187965466">
    <link rel="stylesheet" href="../css/normalize.css?t=1640187965466">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&amp;display=swap" rel="stylesheet">
  </head>
  <body> 
    <header class="header"><a class="header__logo" href="#"><img class="logo" src="/resources/image/logo.jpg" alt=""></a>
      <ul class="buttons">
        <li class="buttons_menu"><a class="buttons_menu-item" href="admin">Inicio</a></li>
        <li class="buttons_menu"><a class="buttons_menu-item" href="nuevaSolicitud-A">Nuevo Solicitud</a></li>
        <li class="buttons_menu"><a class="buttons_menu-item" href="vertodosRegistros">Ver registros </a></li>
        <li class="buttons_menu"><a class="buttons_menu-item" href="nuevoUsuario">Nuevo usuario</a></li>
        <li class="buttons_menu"><a class="buttons_menu-item" href="logout">Desconectarse</a></li>
      </ul>
    </header>
    <main class="main"> 
      <section class="name_user" id="name_User"> 
        <h1>Ingresado</h1>
        <h1>El usuario conectado es: undefined y el tipo de usuario es</h1>
      </section>
    </main>
  </body>
</html>