<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css/styles.css?t=1637526684496">
    <link rel="stylesheet" href="../css/normalize.css?t=1637526684496">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&amp;display=swap" rel="stylesheet">
  </head>
  <body class="body">
    <header class="header"><a class="header__logo" href="#"><img class="logo" src="/resources/image/logo.jpg" alt=""></a></header>
    <main class="main">
      <section class="section__login">
        <div class="login">
          <div class="login__header">
            <h2 class="login__header--title">Inicia sesión</h2>
          </div>
          <div class="login__body">
            <form class="form__login" action="/auth" method="POST">
              <input class="login__input" id="user" type="text" name="user" placeholder="Cédula" required>
              <input class="login__input" id="pass" type="password" name="pass" placeholder="Contraseña" required>
              <input class="button" id="submit" type="submit" value="Ingresa">
            </form>
            <p>Si aun no estas registrado: Contacta con un administrador</p>
          </div>
        </div>
      </section>
    </main>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript">let x = ;
      Swal.fire({
        title: x.title,
        text: x.text,
        icon: x.icon,
        showConfirmButton: x.scButton,
        timer: x.timer
      }).then(()=>{
        window.location= `/${x.ruta}`;
      });
    </script>
  </body>
</html>

