<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pruebas de PUG</title>
  </head>
  <body> 
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript">let x = ;
      Swal.fire({
          icon: x.icon,
          title: x.title,
          text: x.text
      });
      
                  
    </script>
  </body>
</html>