<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla principal</title>
    <link rel="stylesheet" href="../css/styles.css?t=1640187966308">
    <link rel="stylesheet" href="../css/normalize.css?t=1640187966308">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&amp;display=swap" rel="stylesheet">
  </head>
  <body class="body"> 
    <header class="header"><a class="header__logo" href="#"><img class="logo" src="/resources/image/logo.jpg" alt=""></a>
      <ul class="buttons">
        <li class="buttons_menu"><a class="buttons_menu-item" href="user">Inicio</a></li>
        <li class="buttons_menu"><a class="buttons_menu-item" href="newRegisterpqrs">Nuevo Solicitud</a></li>
        <li class="buttons_menu"><a class="buttons_menu-item" href="verRegistros">Ver registros </a></li>
        <li class="buttons_menu"><a class="buttons_menu-item" href="logout">Desconectarse</a></li>
      </ul>
    </header>
    <main class="main"> 
      <div class="tituloBienvenida">
        <h3 class="titutoBienvenida__user">Hola undefined tipo de usuario undefined</h3>
      </div>
      <div class="textoInformacion"> 
        <p>Bienvenido(a), a este sistema de información diseñado e implementado por la Alcaldía de Villa del Rosario como instrumento tecnológico para registrar peticiones, quejas, reclamos, sugerencias, denuncias, solicitudes y felicitaciones de origen del servidor público de la entidad, con el fin de ser atendidos por la Administración.</p>
        <p>Selecciona a continuación alguna de las dos opciones para consultar o crear una petición.</p>
      </div>
      <div class="infoSolicitudesPQRS">
        <div class="infoSolicitudesPQRS__crear"><img class="infoSolicitudesPQRS__crear--imgCrear" src="../image/newRegisterPQRS.png" alt="image-NewRegister">
          <div class="infoSolicitudesPQRS__crear--textCrear">
            <h3>Crea tu petición</h3>
            <p>Para crear una petición, selecciona la opción "Nueva solicitud" que se encuentra en la parte superior.</p>
          </div>
        </div>
        <div class="infoSolicitudesPQRS__consultar"><img class="infoSolicitudesPQRS__crear--imgConsultar" src="../image/searchRegisterPQRS.png" alt="image-searchRegister">
          <div class="infoSolicitudesPQRS__crear--textConsultar">
            <h3>Consulta tu petición</h3>
            <p>Para consultar tus peticiones, selecciona la opción "Ver registros" que se encuentra en la parte superior.</p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>