doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Login
    link(rel='stylesheet' href='/src/css/normalize.css')
    link(rel='stylesheet' href='/src/css/styles.css')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap' rel='stylesheet')
  body.body
    header.header
      a.header__logo(href='#')
        img.logo(src='../src/image/logo.jpg' alt='')
    main.main
      section.section__login
        .login
          .login__header
            h2.login__header--title Inicia sesión
          .login__body
            input#user.login__input(type='text' placeholder='Usuario' required='')
            input#password.login__input(type='password' placeholder='Contraseña' required='')
            input#submit.button(type='submit' value='Ingresa')