doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Curso PUG
    body 
        //- div caja 1
        //-     div caja 2
        //-         div caja 3
        //- ul
        //-     li Item 1
        //- a(href="#") Un enlace

        //- //- El elemento de separación puede ser una coma o un espacio
        //- img(src="foto.jpg", alt="Soy una foto")  
        //- p#texto-primero Parráfo con ID
        //- p.texto.texto2 Párrafo con clase
        //- p#id.clase Párrafo con id y clase
        //- //- Colocar una etiqueta dentro de otra:
        //- p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor voluptatum quisquam nobis aspernatur eum earum illum? 
        //-     a(href="#") Repellendus 
        //-     | cupiditate possimus reiciendis, quidem laudantium, laborum culpa, voluptates saepe nam corrupti quos magni?

        //- ul.menu
        //-     li.menu__item
        //-         a(href="#").menu__link Item 1
        //- //- Para evitar tantos saltos de línea se usa :
        //- ul.menu: li.menu__item: a(href="#").menu__link Item 2

        //- header 
        //-     nav#main-nav 
        //-         ul.main-menu
        //-             li: a(href="#") Item 1
        //-             li: a(href="#") Item 2
        //-             li: a(href="#") Item 3
        //-             li: a(href="#") Item 4

        //- SCRIPTS - VARIABLES Y STYLESSd