doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Pantalla principal

        link(rel="stylesheet", href="../css/styles.css")
        link(rel="stylesheet", href="../css/normalize.css")
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap' rel='stylesheet')
    body.body 
        header.header
            a.header__logo(href='#')
                img.logo(src='/resources/image/logo.jpg' alt='')
            ul.buttons
                li.buttons_menu: a(href="indexUser").buttons_menu-item Inicio
                li.buttons_menu: a(href="newRegisterpqrs").buttons_menu-item Nuevo Solicitud
                li.buttons_menu: a(href="verRegistros").buttons_menu-item Ver registros 
                li.buttons_menu: a(href="logout").buttons_menu-item Desconectarse
        main.main 
            //- -const name = autenticar.name
            //- -const rol = autenticar.rol
            .tituloBienvenida
                h3.titutoBienvenida__user= `Bienvenida(o): ${autenticar.name} ${autenticar.rol}`
            .textoInformacion 
                p Bienvenido(a), a este sistema de información diseñado e implementado por la Alcaldía de Villa del Rosario como instrumento tecnológico para registrar peticiones, quejas, reclamos, sugerencias, denuncias, solicitudes y felicitaciones de origen del servidor público de la entidad, con el fin de ser atendidos por la Administración.
                p Selecciona a continuación alguna de las dos opciones para consultar o crear una petición.
            .infoSolicitudesPQRS
                .infoSolicitudesPQRS__crear
                    img(src="../image/newRegisterPQRS.png", alt="image-NewRegister").infoSolicitudesPQRS__crear--imgCrear
                    .infoSolicitudesPQRS__crear--textCrear
                        h3 Crea tu petición
                        p Para crear una petición, selecciona la opción "Nueva solicitud" que se encuentra en la parte superior.
                .infoSolicitudesPQRS__consultar
                    img(src="../image/searchRegisterPQRS.png", alt="image-searchRegister").infoSolicitudesPQRS__crear--imgConsultar
                    .infoSolicitudesPQRS__crear--textConsultar
                        h3 Consulta tu petición
                        p Para consultar tus peticiones, selecciona la opción "Ver registros" que se encuentra en la parte superior.

            
                