doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Registro Usuarios 
        link(rel="stylesheet", href="../css/styles.css")
        link(rel="stylesheet", href="../css/normalize.css")
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap' rel='stylesheet')
    body.body
        header.header
            a.header__logo(href='#')
                img.logo(src='/resources/image/logo.jpg' alt='')
            ul.buttons
                li.buttons_menu: a(href="inicioAdmin").buttons_menu-item Inicio
                li.buttons_menu: a(href="#").buttons_menu-item Ver registros 
                li.buttons_menu: a(href="register").buttons_menu-item Nuevo usuario
                li.buttons_menu: a(href="logout").buttons_menu-item Desconectarse
        main.main
            section.section__register 
                .register 
                    .register__header 
                        h2.register__header--title Ingresa los siguientes datos 
                    .register__body
                        form(action="/register", method="POST") 
                            input#cc.login__input(type='number' name='cc' placeholder='Cédula' required='')
                            input#apellido1.login__input(type='text' name='apellido1' placeholder='Primer apellido' required='')
                            input#apellido2.login__input(type='text' name='apellido2' placeholder='Segundo apellido' required='')
                            input#nombres.login__input(type='text' name='nombres' placeholder='Nombres' required='')
                            select#rol.select__Rol(name="rol") 
                                option#select-empty(value="select") - Seleccionar Rol -
                                option(value="usuario") Usuario
                                option(value="administrador") Administrador
                            input#dependencia.login__input(type='text' name='dependencia' placeholder='Dependencia' required='')
                            input#pass.login__input(type='password' name='pass' placeholder='Contraseña' required='')
                            input#submit.button(type='submit' value='Registrese')

      
        script(src="//cdn.jsdelivr.net/npm/sweetalert2@11") 
        if typeof alert != "undefined"      
            script.
                Swal.fire({
                    icon: 'success',
                    title: '¡Buen trabajo!',
                    text: 'Usuario guardado satisfactoriamente.',
                    showConfirmButton: false,
                    timer: 1800
                }).then(()=>{
                    window.location = "/login"
                })
        script(src="../js/scripts.js") 